// Primary
$cl-very-dark-magenta: hsl(300, 43%, 22%);
$cl-soft-pink: hsl(333, 80%, 67%);

// Neutral
$cl-dark-grayish-magenta: hsl(303, 10%, 53%);
$cl-light-grayish-magenta: hsl(300, 24%, 96%);
$cl-white: hsl(0, 0%, 100%);
