html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

.l-body {
  font-family: "Spartan", sans-serif;
  min-height: 100vh;
  padding: 82px 24px;
  margin: 0;
  background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 0 left 0, bottom 0 right 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1168px) {
  .l-body {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  }
}
@media (min-width: 1168px) {
  .l-body {
    padding: 0 24px;
    padding-top: 32px;
  }
}

.c-main {
  width: min(100%, 1110px);
}
@media (min-width: 1168px) {
  .c-main {
    display: grid;
    grid-template-columns: 43% 57%;
    grid-template-areas: "header ratings" "approvals approvals";
  }
}

.c-headline {
  color: #502050;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 23px;
}
@media (min-width: 1168px) {
  .c-headline {
    font-size: 47px;
    line-height: 49px;
    margin-bottom: 11px;
  }
}

.c-header {
  width: min(100%, 600px);
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1168px) {
  .c-header {
    grid-area: header;
    text-align: left;
  }
}

.c-header__text {
  color: #937b92;
  line-height: 23px;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
}
@media (min-width: 1168px) {
  .c-header__text {
    line-height: 25px;
  }
}

.c-ratings {
  margin-bottom: 49px;
}
@media (min-width: 1168px) {
  .c-ratings {
    grid-area: ratings;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 93px;
  }
}

.c-rating {
  width: min(100%, 350px);
  margin: 0 auto;
  padding: 15px;
  background: #f7f2f7;
  color: #502050;
  text-align: center;
  border-radius: 9px;
}
@media (min-width: 1168px) {
  .c-rating {
    margin: 0;
    width: 445px;
    padding: 19.5px;
    display: flex;
  }
}

.c-rating--one {
  align-self: flex-start;
}

.c-rating--two {
  align-self: center;
}

.c-rating--three {
  align-self: flex-end;
}

.c-rating + .c-rating {
  margin-top: 16px;
}

.c-rating__stars {
  width: 100px;
  height: 31px;
  margin: 0 auto;
  background-image: url("../images/icon-star.svg");
  background-repeat: space no-repeat;
}
@media (min-width: 1168px) {
  .c-rating__stars {
    height: 17px;
    margin: 0 37px;
  }
}

.c-rating__text {
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 1168px) {
  .c-approvals {
    grid-area: approvals;
    display: flex;
    padding-top: 32px;
  }
}

.c-approval {
  width: min(100%, 350px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  color: #fff;
  background: #502050;
  padding: 40px 32px 31px 32px;
  border-radius: 9px;
}
@media (min-width: 1168px) {
  .c-approval {
    margin: 0;
    padding-bottom: 40px;
  }
}

.c-approval + .c-approval {
  margin-top: 16px;
}
@media (min-width: 1168px) {
  .c-approval + .c-approval {
    margin: 0;
    margin-left: 30px;
  }
}

@media (min-width: 1168px) {
  .c-approval:nth-child(2) {
    margin-top: 16px;
  }

  .c-approval:nth-child(3) {
    margin-top: 32px;
  }
}
.c-approval__header {
  display: flex;
  margin-bottom: 23px;
}

.c-approval__image {
  border-radius: 50%;
  height: 39px;
  margin-right: 23px;
}

.c-approval__headline {
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.c-approval__status {
  font-size: 13px;
  color: #ee68a4;
}

.c-approval__text {
  line-height: 22px;
  font-size: 13px;
}/*# sourceMappingURL=main.css.map */